<%= form_for @user, :html => {:class => "form"} do |f| %>
  <% if @user.errors.any? %>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <p>
    <h1><%= f.label :email %><br></h1>
    <%= f.text_field :email %>
  </p>
 
  <p>
    <h1><%= f.label :password %><br></h1>
    <%= f.password_field :password %>
  </p>
 
  <p>
    <h1><%= f.label :password_confirmation %></h1>
    <%= f.password_field :password_confirmation %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
