<div class="main">
  <div class="container">
  <%= form_for @card, :html => {:class => 'form'} do |f| %>
    <p>
      <h1><%= f.label :original_text %><br></h1>
      <%= f.text_field :original_text %>
    </p>
 
    <p>
      <h1><%= f.label :translated_text %><br></h1>
      <%= f.text_field :translated_text %>
    </p>
 
    <p>
      <h1><%= f.label :review_date %></h1>
      <%= f.text_field :review_date %>
    </p>

    <p>
      <%= f.submit %>
    </p>
  <% end %>
  </div>
</div>