<!DOCTYPE html>
<html>
<head>
  <title>Flashcards</title>
  <%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="header">
    <div class="container">
      <div class="pull-right">
        <div class="nav nav pills">
          <% if current_user %>
            <%= current_user.email %>
            <%= link_to "Edit Profile", edit_user_path(current_user.id) %> |
            <%= link_to "Logout", :logout, method: :post %>
          <% else %>
            <%= link_to "Register", new_user_path %> |
            <%= link_to "Login", :login %> |
            <%= link_to "Login with Github", auth_at_provider_path(provider: :github) %>
          <% end %>
        </div>
      </div> 
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h3>Флэшкарточкер</h3>
        </div>
        <div class="col-md-9">
          <div class="pull-right">
            <ul class="nav nav-pills">
              <li role="presentation"><%= link_to "Show Cards", cards_path, class: "btn" %></li>
              <li role="presentation"><%= link_to "Add Card", new_card_path, class: "btn" %></li>
              <li role="presentation"><%= link_to "Random Card", random_path, class: "btn" %></li>
              <li role="presentation"><%= link_to "Show Deck", decks_path, class: "btn" %></li>
            </ul>          
          </div>
        </div>  
      </div>     
    </div>    
  </div>
  <div class="main">
    <div class="container">
      <%= flash.notice %>
      <%= flash.alert %>


<%= yield %>

    </div>
  </div>
  <div class="footer">
    <div class="container">
      <div class="pull-right">
        <p>J.R1co, 2015</p>
      </div>
    </div>
  </div>

</body>
</html>
