<!DOCTYPE html>
<html>
<head>
  <title>Flashcards</title>
  <%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="header">
    <div class="container">
      <div class="pull-right">
        <div class="nav nav pills">
          <% if current_user %>
            <%= current_user.email %>
            <%= link_to t(".edit_link"), edit_user_path(current_user.id) %> |
            <%= link_to t(".logout_link"), :logout, method: :post %>
          <% else %>
            <%= link_to t(".register_link"), new_user_path %> |
            <%= link_to t(".login_link"), :login %> |
            <%= link_to t(".github_login"), auth_at_provider_path(provider: :github) %>
          <% end %>

          <% %w(en ru).each do |lang| %>
            <%= link_to "#{lang}", { locale: "#{lang}" }, class: "lang" %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h3><%= link_to t(".flashcard"), root_path %></h3>
        </div>
        <div class="col-md-9">
          <div class="pull-right">
            <ul class="nav nav-pills">
              <li role="presentation"><%= link_to t(".deck_control"), decks_path, class: "btn" %></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main">
    <div class="container">
      <%= flash.notice %>
      <%= flash.alert %>

<%= yield %>

    </div>
  </div>
  <div class="footer">
    <div class="container">
      <div class="pull-right">
        <p>J.R1co, 2015</p>
      </div>
    </div>
  </div>

</body>
</html>
